<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styling.css') }}">
    </head>

    <body>
        <div class = 'pane'>
            <h1>Categories</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li><strong>{{message}}</strong></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <a href="{{url_for('add_category')}}"><h3>Create a new category</h3></a>
            {% for category in categories %}
                <a href="{{url_for('show_one_category_and_items', chosen_category_id=category.category_id)}}"><p>{{category.category_name}}</p></a>
            {% endfor %}
            <h1>Latest Items</h1>
        </div>>
    </body>
</html>>