 <html>
    <head>
    </head>
    
    <body>
        <div class = 'pane'>
            <h1>{{category.category_name}} category</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li><strong>{{message}}</strong></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
                <a href = "{{url_for('edit_category',chosen_category_id=category.category_id)}}"><p>Edit Category</p></a>
                <a href = "{{url_for('delete_category',category_id=category.category_id)}}"><p>Delete Category</p></a>
            <h1>{{name}} items</h1>
                <a href="{{url_for('add_item', this_category_id=category.category_id)}}"><h3>Create a new Item</h3></a>
                {% for item in items %}
                <a href="{{url_for('show_one_item', chosen_category_id=category.category_id, chosen_item_id=item.item_id)}}">
                    <p>{{item.item_name}}</p>
                </a>
                {% endfor %}

            </div>
    </body>
</html>