<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styling.css') }}">
	</head>

    <body>
        <h1> Edit Category </h1>
            <form action="#" method = 'post'>
                <p>Name:</p>
                    <input type ='text' size='30' name='name' placeholder = '{{category.name }}'>
                <input type='submit' value='Edit'>
                <a href = "{{url_for('show_one_category_and_items', chosen_category_id=category.category_id)}}">Cancel </a>
            </form>
    </body>

</html>
