{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <div class = "ui grid">
        <div class="five wide column">
            <div class="categories ui vertical fluid tabular menu">
                <a class="item" href="{{url_for('show_category', chosen_category_id=category.category_id)}}"><p>{{category.category_name}}</p></a>
            </div>
        </div>

        <div class="ten wide stretched column">
            <div class="items ui segment">
                <h2>Items</h2>
                    {% for item in items %}
                        <a href = "{{url_for('show_one_item',chosen_category_id=item.category_id, chosen_item_id=item.item_id)}}
                        "><p>{{item.item_name}}</p></a>
                    {% endfor %}
                 
            </div>
        </div>
    </div> 
{% endblock %}









        <div class = 'pane'>
            <h1>{{category.category_name}} category</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li><strong>{{message}}</strong></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
                
            <h1>{{name}} items</h1>
                
                {% for item in items %}
                <a href="{{url_for('show_one_item', chosen_category_id=category.category_id, chosen_item_id=item.item_id)}}">
                    <p>{{item.item_name}}</p>
                </a>
                {% endfor %}

            </div>
