{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
       
    <div class = "ui grid">
        <div class="five wide column">
            <div class="categories ui vertical fluid tabular menu">
                <h2>Flower Categories</h2>
                    {% for category in categories %}   
                        <a class="item" href="{{url_for('show_category', chosen_category_id=category.category_id)}}"><p>{{category.category_name}}</p></a>
                    {% endfor %}
            </div>
        </div>

        <div class="ten wide stretched column">
            <div class="items ui segment">
                <h2>Recent Added</h2>
                    {% for item in items %}
                        <a href = "{{url_for('show_one_item',chosen_category_id=item.category_id, chosen_item_id=item.item_id)}}
                        "><p>{{item.item_name}} - {{item.category.category_name}}</p></a>
                    {% endfor %}
                 
            </div>
        </div>
    </div> 


{% endblock %}